$white: #fff;
$black: #555;
$blue: #0086dd;
$red: #cc0001;
$lightblue: #57d9cd;
$yellow: #ffdf00;
$green: #a0c82a;
$orange: #feb100;
$lightred: #ff8866;
$lightpink: #ff92b2;
$pink: #e9548e;
$bluegray: #465a65;
$lightgreen: #a0c82a;
$pear: #fff9c9;
