.captcha input, #polyglotLanguageSwitcher1 .dropdown, #polyglotLanguageSwitcher2 .dropdown, #side-menu, #side-menu .search input, #side-menu .language select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, button, input, select, textarea {
  color: #555;
}

button, input, select, textarea {
  border: 0;
  outline: 0;
}

audio, canvas, img, video, input[type="radio"], input[type="checkbox"] {
  vertical-align: middle;
}

textarea {
  resize: vertical;
}

a {
  text-decoration: none;
  color: #555;
}

h1, h2, h3, h4, p {
  margin: 0;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

@font-face {
  font-family: "opensans_regular";
  src: url("../fonts/opensans_regular/OpenSans-Regular-webfont.eot");
  src: url("../fonts/opensans_regular/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans_regular/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/opensans_regular/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/opensans_regular/OpenSans-Regular-webfont.svg#opensans_regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
html, body {
  overflow-x: hidden;
}

body {
  font: 16px/1.2 opensans_regular, Arial, sans-serif;
  text-transform: lowercase;
}

img, video {
  width: 100%;
  height: auto;
}
img.auto, video.auto {
  width: auto;
}
.no-games 
{
  padding: 10px;
}
.tablet {
  display: none;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  padding: 10px 0;
  text-transform: lowercase;
}

.date {
  line-height: 1;
}

.relative {
  position: relative;
}

.link {
  text-align: center;
  margin: 20px 0;
}
.link a {
  display: inline-block;
  color: #e9548e;
}

.readmore {
  color: #e9548e;
}

.button {
  text-align: center;
  text-transform: lowercase;
}
.button a {
  background: #e9548e;
  color: #fff;
  padding: 4px 6px;
  display: inline-block;
}

.more {
  overflow: hidden;
  text-transform: lowercase;
}
.more a {
  background: #e9548e;
  color: #fff;
  padding: 4px 6px;
  display: inline-block;
  float: right;
}

.captcha {
  position: relative;
}
.captcha img {
  width: 30%;
  height: 34px;
  float: left;
}
.captcha input {
  width: auto;
  display: block;
  float: left;
  padding: 8px 6px !important;
  width: 70% !important;
}

.form-success {
  text-transform: none;
  background: #a0c82a;
  color: #fff;
  padding: 6px;
  margin-left: 1%;
}

.form-error {
  text-transform: none;
  background: #cc0001;
  color: #fff;
  padding: 6px;
  margin-left: 1%;
}

.error {
  background: #cc0001;
  color: #fff;
}

.correct {
  background: #a0c82a;
  color: #fff;
}

.free-back {
  position: absolute;
  width: 80px;
  height: 80px;
  left: -4px;
  top: -5px;
  z-index: 20;
}

.thumb-image {
  position: relative;
  z-index: 30;
}

.free-front {
  position: absolute;
  width: 80px;
  height: 80px;
  left: -4px;
  top: -5px;
  z-index: 40;
}

.ajax-loader {
  padding: 10px 0;
  color: #fff;
  display: none;
}
.ajax-loader i {
  color: #fff;
}

.center {
  text-align: center;
}

.vcenter {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.vhcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.vparent, .vhparent {
  position: relative;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.pagination {
  display: inline-block;
  overflow: hidden;
  margin: 10px 0;
}
.pagination li {
  float: left;
  margin: 0 4px;
}
.pagination a {
  background: #e9548e;
  color: #fff;
  padding: 4px 6px;
  display: block;
}
.pagination span {
  background: #fff;
  color: #e9548e;
  padding: 4px 6px;
  display: block;
}

.clear {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.hide-text {
  font: 0 / 0 a;
  text-shadow: none;
  color: transparent;
}

#end {
  margin: 10px 0;
}

#polyglotLanguageSwitcher1 a, #polyglotLanguageSwitcher2 a {
  width: auto;
  text-transform: none;
}
#polyglotLanguageSwitcher1 .dropdown, #polyglotLanguageSwitcher2 .dropdown {
  width: 100%;
}

#side-menu {
  padding: 60px 10px 10px 10px;
}
#side-menu .top {
  background: #57d9cd;
  text-align: center;
  padding: 4px 0;
}
#side-menu .top ul {
  display: inline-block;
  overflow: hidden;
}
#side-menu .top li {
  float: left;
}
#side-menu .top li:first-child {
  margin-right: 10px;
}
#side-menu .top li:last-child {
  border-left: 1px solid #fff;
  padding-left: 10px;
}
#side-menu .top a {
  color: #fff;
  display: block;
  height: 20px;
}
#side-menu .top p {
  color: #fff;
}
#side-menu .top p a {
  display: inline;
}
#side-menu .search {
  margin-top: 10px;
  padding: 3px 6px;
  border: 1px solid #ddd;
  position: relative;
}
#side-menu .search input {
  width: 100%;
  padding-right: 20px;
}
#side-menu .search a {
  position: absolute;
  right: 6px;
  top: 5px;
}
#side-menu .search a i {
  color: #555;
}
#side-menu #polyglotLanguageSwitcher2 {
  margin-top: 10px;
}
#side-menu .language {
  margin-top: 10px;
  border: 1px solid #ddd;
  overflow: hidden;
  padding: 3px;
  position: relative;
}
#side-menu .language select {
  width: 100%;
}
#side-menu .language input[type="submit"] {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  background: #ddd;
  color: #555;
}
#side-menu .menu {
  margin-top: 10px;
}
#side-menu .menu a {
  color: #fff;
  display: block;
  font-size: 20px;
  padding: 40px 10px 5px 0;
  text-align: right;
}
#side-menu .menu a.menu-games {
  background: #57d9cd url(../images/mobile-games.png) -10px -10px no-repeat;
}
#side-menu .menu a.menu-news {
  background: #ffdf00 url(../images/mobile-news.png) -5px -6px no-repeat;
}
#side-menu .menu a.menu-faqs {
  background: #a0c82a url(../images/mobile-faqs.png) -5px -5px no-repeat;
}
#side-menu .menu a.menu-contact {
  background: #ff8866 url(../images/mobile-contact.png) -18px -18px no-repeat;
}
#side-menu .social {
  margin-top: 10px;
}
#side-menu .social li {
  margin-bottom: 5px;
  line-height: 32px;
}
#side-menu .social li:last-child {
  margin-bottom: 0;
}
#side-menu .social a {
  color: #555;
  display: block;
}
#side-menu .social a.facebook i {
  background: #0086dd;
}
#side-menu .social a.twitter i {
  background: #22daff;
}
#side-menu .social a.support i {
  background: #e43c49;
}
#side-menu .social span {
  display: inline-block;
  padding-left: 5px;
}
#side-menu .social i {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  color: #fff;
  width: 32px;
  line-height: 32px;
  text-align: center;
  float: left;
  font-size: 20px;
}
#side-menu .copyright {
  margin-top: 10px;
  text-transform: none;
}
#side-menu .copyright ul {
  overflow: hidden;
}
#side-menu .copyright li {
  float: left;
}
#side-menu .copyright li:first-child {
  margin-right: 10px;
}
#side-menu .copyright li:last-child {
  border-left: 1px solid #e9548e;
  padding-left: 10px;
}
#side-menu .copyright p a {
  display: inline;
}

#nav-toggle, #back {
  margin-top: 13px;
  margin-right: 12px;
  display: block;
  float: left;
}
#nav-toggle i, #back i {
  font-size: 26px;
  color: #fff;
}

#tdrive {
  float: left;
  padding: 7px 0;
  width: 111px;
  height: 36px;
}
#tdrive a {
  display: block;
  width: 100%;
}

#tose {
  float: right;
  padding-top: 0;
  width: 57px;
  height: 46px;
}
#tose a {
  display: block;
  width: 100%;
}

#back {
  display: none;
}

#header {
  background: #cc0001;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99999;
}

#content {
  padding-top: 40px;
}

#footer {
  padding: 10px 0;
  background: #f4f4f4;
  display: none;
}
#footer .social li {
  margin-bottom: 5px;
  line-height: 32px;
}
#footer .social li:last-child {
  margin-bottom: 0;
}
#footer .social a {
  color: #555;
  display: block;
}
#footer .social a.facebook i {
  background: #0086dd;
}
#footer .social a.twitter i {
  background: #22daff;
}
#footer .social a.support i {
  background: #e43c49;
}
#footer .social span {
  display: inline-block;
  padding-left: 5px;
}
#footer .social i {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  color: #fff;
  width: 32px;
  line-height: 32px;
  text-align: center;
  float: left;
  font-size: 20px;
}
#footer .copyright {
  margin-top: 10px;
  text-transform: none;
}
#footer .copyright ul {
  overflow: hidden;
}
#footer .copyright a {
  color: #e9548e;
}
#footer .copyright li {
  float: left;
}
#footer .copyright li:first-child {
  margin-right: 10px;
}
#footer .copyright li:last-child {
  border-left: 1px solid #e9548e;
  padding-left: 10px;
}
#footer .copyright p a {
  display: inline;
}

@media only screen and (min-width: 213px) and (max-width: 300px) {
  #tose {
    display: none;
  }
}
@media only screen and (min-width: 415px) {
  #footer .container {
    overflow: hidden;
  }
  #footer .social {
    overflow: hidden;
    float: right;
  }
  #footer .social li {
    margin-bottom: 0;
    margin-right: 5px;
    float: left;
  }
  #footer .social li:last-child {
    margin-right: 0;
  }
  #footer .social a {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-clip: padding-box;
    padding-right: 10px;
    color: #fff;
  }
  #footer .social a.facebook {
    background: #0086dd;
  }
  #footer .social a.twitter {
    background: #22daff;
  }
  #footer .social a.support {
    background: #e43c49;
  }
  #footer .social span {
    display: inline-block;
    padding-left: 0;
  }
  #footer .copyright {
    clear: both;
    text-align: right;
    overflow: hidden;
  }
  #footer .copyright ul {
    margin-top: 10px;
    float: right;
  }
  #footer .copyright p {
    clear: both;
  }
}
@media only screen and (min-width: 800px) {
  .mobile, #nav-toggle, #side-menu {
    display: none;
  }

  .container {
    padding: 0 40px;
  }

  .tablet {
    display: block;
  }
  .tablet .menu {
    margin: 0 20px;
    overflow: hidden;
  }
  .tablet .menu li {
    margin-right: 5px;
    float: left;
  }
  .tablet .menu li:last-child {
    margin-right: 0;
  }
  .tablet .menu a {
    width: 70px;
    padding: 45px 0 5px;
    font-size: 16px;
    display: block;
    color: #fff;
    text-align: center;
    min-height: 20px;
  }
  .tablet .menu a.menu-games {
    background: #57d9cd url(../images/tablet-games.png) 4px top no-repeat;
  }
  .tablet .menu a.menu-news {
    background: #ffdf00 url(../images/tablet-news.png) center -6px no-repeat;
  }
  .tablet .menu a.menu-faqs {
    background: #a0c82a url(../images/tablet-faqs.png) right -5px no-repeat;
  }
  .tablet .menu a.menu-contact {
    background: #ff8866 url(../images/tablet-contact.png) center top no-repeat;
  }
  .tablet .top {
    margin: 6px 0 5px;
  }
  .tablet .top ul {
    display: inline-block;
    overflow: hidden;
  }
  .tablet .top li {
    float: left;
  }
  .tablet .top li:first-child {
    margin-right: 10px;
  }
  .tablet .top li:last-child {
    border-left: 1px solid #fff;
    padding-left: 10px;
  }
  .tablet .top a {
    color: #fff;
    display: block;
    height: 20px;
  }
  .tablet .top p {
    color: #fff;
  }
  .tablet .top p a {
    display: inline;
  }
  
  #header {
    position: static;
  }

  #nav-toggle, #back {
    margin-top: 18px;
    margin-right: 18px;
  }
  #nav-toggle i, #back i {
    font-size: 36px;
  }

  #tdrive {
    padding: 16px 0;
  }

  #tose {
    padding-top: 9px;
  }

  #content {
    padding-top: 0;
  }
}
