.slider-item .details {
	background: #fff9c8;
	margin: 0;
}

#slider-main { margin: 0; }

.slider-item .details > p {
	margin: 0;
	float: left;
	padding: 5px 10px;
	height: 100%;
}

.slider-item .details .date {
	background: #ffb100;
	text-align: center;
	line-height: 1;
	font-size: 26px;
}

.slider-item .details .date span {
	display: block;
	font-size: 16px;
}

.slider-item .details .go { 
	float: right; 
	padding: 0;
}

.slider-item .details .go a {
	display: block;
	padding: 5px 8px 5px 10px;
	height: 42px;
}

.slider-item .details .go img {
	padding-top: 11px;
	width: auto;
}

.slider-item .details .description {
	font-size: 14px;
	line-height: 42px;
}

.content-main h2 { 
	color: #fff; 
	text-transform: lowercase;
	font-size: 22px;
}

/* Tablet */
@media only screen and (min-width: 768px) {

	#slider-main { margin: 40px 0 0 0; }

	.slider-item .details .description { font-size: 18px; }

}
