.nav-main { text-transform: lowercase; }

.nav-toggle {
	float: left;
	margin: 9px 20px 0 0;
}

.nav-toggle i {
	font-size: 30px;
	color: #fff;
}

.mobile .nav-main { 
	background: #fff;
	padding: 10px;
	max-width: 380px;
	padding-top: 66px;
}

.mobile .nav-main form.search {
	border: 1px solid #ccc;
	position: relative;
	margin-bottom: 10px;
	padding-bottom: 4px;
	padding-top: 4px;
}

.mobile .nav-main form.search input[type="text"] {
	border: 0;
	float: left;
	width: 96%;
	padding-left: 8px;
}

.mobile .nav-main form.search .submit {
	width: 20px;
	//height: 30px;
	padding-left: 8px;
	background: #fff;
	position: absolute;
	top: 0;
	right: 0;
}

.mobile .nav-main form.search .submit i {
	text-align: center;
	display: inline-block;
	line-height: 30px;
}

.mobile .nav-main form.language select {
	border: 1px solid #ddd;
	width: 100%;
	padding: 4px 0 4px 4px;
	color: #555;
	cursor: pointer;
}

.mobile .nav-main a {
	color: #fff;
	text-decoration: none;
}

.mobile .nav-main ul.first {
	background: #57d9cd;
	margin-top: 0; 
	margin-bottom: 10px;
	text-align: center;
	padding: 3px 0 4px;
}

.mobile .nav-main ul.first > div { display: inline-block; }

.mobile .nav-main ul.first li {
	float: left;
	line-height: 1;
	border-right: 1px solid #fff;
	margin: 5px 0 0;
}

.mobile .nav-main ul.first .sign-in { margin-left: 0; }

.mobile .nav-main ul.first li:last-child { border-right: none; }

.mobile .nav-main ul.first .join-now { margin-right: 0; }

.mobile .nav-main ul.first a { 
	display: block;
	margin: 0 10px;
}

.mobile .nav-main ul.second { 
	margin-top: 10px; 
	margin-bottom: 10px; 
}

.mobile .nav-main ul.second a {
	display: block;
	padding: 40px 10px 5px 0;
	color: #fff;
	text-align: right;
	font-size: 20px;
}

.mobile .nav-main ul.second .games { background: #57d9cd url(../images/nav-mobile-games.png) -16px 5px no-repeat; }
.mobile .nav-main ul.second .news { background: #ffdf00 url(../images/nav-mobile-news.png) -7px 3px no-repeat; }
.mobile .nav-main ul.second .faqs { background: #a1c82a url(../images/nav-mobile-faqs.png) -3px -2px no-repeat; }
.mobile .nav-main ul.second .contact { background: #ff8966 url(../images/nav-mobile-contact.png) -19px -16px no-repeat; }

.mobile .nav-main ul.social { margin: 10px 0; }

.mobile .nav-main ul.social li { margin-bottom: 10px; }

.mobile .nav-main ul.social a {
	background: url(../images/icon-social-facebook.png) left top no-repeat;
	line-height: 32px;
	display: block;
	color: #555;
	padding-left: 40px;
}

.mobile .nav-main ul.social .twitter { background: url(../images/icon-social-twitter.png) left top no-repeat; }
.mobile .nav-main ul.social .support { background: url(../images/icon-social-support.png) left top no-repeat; }

.mobile .nav-main div.copyright { color: #555; }
.mobile .nav-main div.copyright p { line-height: .8; text-transform: none; margin: 10px 0; }
.mobile .nav-main div.copyright p a { 
	color: #555;
}

.tablet .nav-main {
	float: left;
	overflow: hidden;
	list-style: none;
	margin: 0;
}

.tablet .nav-main li { float: left; }

.tablet .nav-main a {
	display: block;
	font-size: 22px;
	color: #fff;
	width: 100px;
	padding: 40px 10px 4px;
	text-align: center;
}

.tablet .nav-main .games { background: #57d9cd url(../images/nav-tablet-games.png) center -7px no-repeat; }
.tablet .nav-main .news { background: #ffdf00 url(../images/nav-tablet-news.png) center -11px no-repeat; }
.tablet .nav-main .faqs { background: #a1c82a url(../images/nav-tablet-faqs.png) 41px -10px no-repeat; }
.tablet .nav-main .contact { background: #ff8966 url(../images/nav-tablet-contact.png) center -7px no-repeat; }

.tablet-portrait { clear: both; }

.tablet-portrait .nav-sub {
	padding: 6px 16px;
	background: #e47564;
	overflow: hidden;
}

.tablet-portrait .nav-sub form {
	border: 1px solid #ccc;
	position: relative;
	//margin-bottom: 15px;
	float: right;
}

.tablet-portrait .nav-sub input[type="text"] {
	border: 0;
	float: left;
	width: 96%;
	padding-left: 8px;
}

.tablet-portrait .nav-sub input[type="submit"] {
	background: #fff url(../images/icon-search.png) center 4px no-repeat;
	border: 0;
	text-indent: -9999px;
	width: 35px;
	height: 24px;
	position: absolute;
	top: 0;
	right: 0;
}

.tablet-portrait .nav-sub select {
	border: 1px solid #ccc;
	width: 100%;
	padding: 0 0 0 4px;
	color: #555;
	cursor: pointer;
}

.tablet-portrait .nav-sub ul {
	margin: 0;
	text-align: center;
	list-style: none;
	float: left;
}

.tablet-portrait .nav-sub ul li {
	float: left;
	line-height: 1;
	border-right: 1px solid #fff;
	margin: 5px 0 0;
}

.tablet-portrait .nav-sub .sign-in { margin-left: 0; }

.tablet-portrait .nav-sub ul li:last-child { border-right: none; }

.tablet-portrait .nav-sub .join-now { 
	margin-right: 0; 
	padding-right: 22px;
	//background: url(../images/icon-join-now.png) right top no-repeat;
}

.tablet-portrait .nav-sub ul a { 
	display: block;
	text-transform: lowercase;
	color: #fff;
	margin: 0 10px;
}

.tablet-landscape .nav-sub {
	margin: 2px 0 0 20px;
	float: left;
	overflow: hidden;
}

.tablet-landscape .nav-sub form { 
	position: relative; 
	margin-bottom: 0;
}

.tablet-landscape .nav-sub input[type="text"] {
	border: 0;
	float: left;
	width: 96%;
	padding-left: 8px;
}

.tablet-landscape .nav-sub input[type="submit"] {
	background: #fff url(../images/icon-search.png) center 4px no-repeat;
	border: 0;
	text-indent: -9999px;
	width: 35px;
	height: 24px;
	position: absolute;
	top: 0;
	right: 0;
}

.tablet-landscape .nav-sub select {
	border: 1px solid #ccc;
	width: 100%;
	padding: 0 0 0 4px;
	color: #555;
	cursor: pointer;
}

.tablet-landscape .nav-sub ul {
	margin-top: 0; 
	margin-bottom: 10px;
	list-style: none;
	float: left;
	position: relative;
	z-index: 888;
}

.tablet-landscape .nav-sub ul li {
	float: left;
	line-height: 1;
	border-right: 1px solid #fff;
	margin: 5px 0 0;
}

.tablet-landscape .nav-sub .sign-in { margin-left: 0; }

.tablet-landscape .nav-sub ul li:last-child { border-right: none; }

.tablet-landscape .nav-sub .join-now { 
	margin-right: 0; 
	padding-right: 22px;
}

.tablet-landscape .nav-sub ul a { 
	display: block;
	text-transform: lowercase;
	color: #fff;
	margin: 0 10px;
}
