.page h1:first-of-type {
	padding-top: 10px;
	margin-top: 0;
	margin-bottom: 0px;
	text-transform: lowercase;
}

.page p:first-of-type { margin-top: 0; }

.faqs { background: #a1c82a; }

.faqs #sb-site { background: #a1c82a; }

.faqs .container { color: #fff; }

.faqs .questions { margin-bottom: 40px; }

.faqs .ui-accordion .ui-accordion-header {
	font-size: 16px;
	color: #fff;
	background: rgba(0, 0, 0, .1) url(../images/icon-faq.png) 10px center no-repeat;
	outline: 0;
}

.faqs .ui-accordion .ui-accordion-icons { padding-left: 50px; }

.faqs .ui-accordion .ui-accordion-content { padding: 0 10px 0 50px; }
.faqs .ui-accordion .ui-accordion-content p { margin-top: 0; font-size: 16px; }

.faqs .ui-widget-content {
	background: rgba(0, 0, 0, .1);
	color: #fff;
	font-size: 16px;
	border: 0;
}

.faqs .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 0;
	background: rgba(0, 0, 0, .1);
	font-weight: normal;
	color: #fff;
	font-size: 30px;
}

.contact { background: #e47564; }

.contact #sb-site { 
	background: #e47564; 
	color: #fff;
}

.contact form { margin-bottom: 20px; }

.contact label {
	background: #e9548f;
	color: #fff;
	padding: 2px 4px;
	margin-left: -5px;
	width: 30%;
	float: left;
}

.contact label, .contact input[type="submit"] { text-transform: lowercase; }

.contact input[type="submit"] {
	background: #e9548f;
	color: #fff;
	float: right;
	border: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.contact .control {
	background: #fff;
	margin-left: 5px;
	padding: 5px 0;
	margin: 5px 0;
	position: relative;
}

.contact input[type="text"], .contact input[type="email"] { 
	float: left;	
	width: 65%;
	padding-left: 2%;
}

.contact textarea { 
	width: 96%; 
	padding: 2% 2% 0 2%;
	display: block; 
	
}

.contact .control:nth-child(4), .contact .control:last-of-type { margin: 0; }
.contact .control:nth-child(4) { padding-bottom: 0; }
.contact .control:last-of-type { padding: 0; }

/* Mobile (portrait) */
@media only screen and (min-width: 320px) {

	.container { 
		padding-left: 20px;
		padding-right: 20px;
	}

}

/* Tablet */
@media only screen and (min-width: 800px) {

	.faqs, .contact { background: #f4f4f4; }

}
