#home .swiper-slide, #home .thumb, #home #news .top > div, #home #contact input[type="text"], #home #contact input[type="email"], #home #contact .select select, #home #contact textarea, #game-detail #featured, #game-detail #top .thumb, #game-detail #top .title, #game-detail #screenshots .swiper-slide, #game-detail #screenshots .item, #game-detail #statistics .top .social a, #game-detail #statistics .bottom > div .meter, #game-detail #statistics .bottom > div .meter .total, #game-detail #review .rating-control label, #game-detail #review form input[type="text"], #game-detail #review form textarea, #game-detail #review .captcha input, #game-detail #reviews .entry > div, #game-detail #related-games .swiper-slide, #game-detail #related-games .thumb, #news-detail .details .title > div, #game-listing .title, #game-listing .search-category, #game-listing .grid > .row .item, #game-listing .grid .thumb, #profile .thumb, #profile .details, #profile .grid > .row .item, #profile .grid .image, #reviews .entry > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#home {
  background: #465a65;
}
#home .slider-container {
  padding-left: 0;
  padding-right: 0;
}
#home #content {
  text-transform: none;
}
#home .swiper-slide {
  width: 110px;
  padding-right: 0;
  text-align: left;
  line-height: 1.3;
}
#home #slider {
  padding: 0;
  padding-top: 10px;
  padding-bottom: 15px;
  display: none;
}
#home #slider .swiper-slide {
  /*width: 260px !important;*/
  width: 260px;
}
#home #slider img {
  width: 100%;
  /*height: 50%;*/
}
#home .thumbs-container {
  display: none;
}
#home .thumb {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-clip: padding-box;
  padding: 6px;
  background: rgba(0, 0, 0, 0.1);
  margin: 5px auto;
  width: 100px;
  height: 100px;
}
#home .thumb img {
  -webkit-border-radius: 16px;
  border-radius: 16px;
  background-clip: padding-box;
}
#home .meta {
  text-align: center;
  margin: 10px 0;
  height: auto;
}
#home .meta p {
  font-size: 14px;
}
#home #latest-games {
  background: #465a65;
  color: #fff;
  border-bottom: 4px solid #e9548e;
}
#home #games-heading {
  background: #61ded0;
}
#home #games-heading h1.title {
  padding-bottom: 0;
  color: #fff;
}
#home .game-category, #home #news {
  color: #fff;
  background: #61ded0;
  border-bottom: 4px solid #e9548e;
}
#home .game-category > div.clearfix .more {
  padding: 10px 0;
}
#home .game-category .slick-slider {
  margin-bottom: 0;
  padding-bottom: 10px;
}
#home #news {
  background: #eecf3f;
  /*border-top: 4px solid #e9548e;*/
  border-bottom: 4px solid #e9548e;
}
#home #news h1.title {
  float: left;
}
#home #news select {
  margin: 18px 0 0;
  float: right;
  font-size: 14px;
}
#home #news .top > div {
  position: relative;
  margin-bottom: 10px;
}
#home #news .top .date {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  text-transform: lowercase;
}
#home #news .top .date > div {
  width: 50px;
  height: 50px;
  background: #e9548e;
  color: #fff;
}
#home #news .top .date span {
  display: block;
}
#home #news .top .details {
  background: #f2bf38;
  padding: 10px;
}
#home #news .top .readmore {
  background: #f2bf38;
  text-transform: lowercase;
}
#home #news .top .readmore a {
  float: right;
  display: block;
  background: #e9548e;
  color: #fff;
  padding: 4px 6px;
}
#home #news .bottom, .clear {
  clear: both;
}
#home #news .bottom > div {
  position: relative;
  margin-bottom: 10px;
}
#home #news .bottom > div .date {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 80px;
  z-index: 8;
  text-transform: lowercase;
}
#home #news .bottom > div .date > div {
  background: #e9548e;
  color: #fff;
  height: 100%;
  text-align: center;
}
#home #news .bottom > div .details {
  text-transform: none;
  height: 80px;
}
#home #news .bottom > div .details > div {
  position: relative;
  background: #f2bf38;
  padding: 0;
  height: 100%;
}
#home #news .bottom > div .details > div > div {
  padding-left: 62px;
  padding-right: 32px;
}
#home #news .bottom > div .details h3 {
  font-size: 14px;
}
#home #news .bottom > div .details p {
  font-size: 14px;
}
#home #news .bottom > div .readmore {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 80px;
  z-index: 7;
}
#home #news .bottom > div .readmore > a {
  position: relative;
  display: block;
  height: 100%;
  background: #e9548e;
}
#home #news .bottom > div .readmore > a i {
  color: #fff;
  font-size: 22px;
}
#home #faqs {
  background: #a1c82a;
  color: #fff;
}
#home #faqs #questions {
  padding: 10px 0;
}
#home #faqs .ui-accordion .ui-accordion-header {
  font-size: 16px !important;
  color: #fff;
  background: rgba(0, 0, 0, 0.1) url(../images/faq.png) 10px center no-repeat;
  outline: 0;
}
#home #faqs .ui-accordion .ui-accordion-icons {
  padding-left: 50px;
}
#home #faqs .ui-accordion .ui-accordion-content {
  padding: 0px 10px 10px 50px;
}
#home #faqs .ui-widget-content {
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 16px;
  border: 0;
}
#home #faqs .ui-state-default, #home #faqs .ui-widget-content .ui-state-default, #home #faqs .ui-widget-header .ui-state-default {
  border: 0;
  background: rgba(0, 0, 0, 0.1);
  font-weight: normal;
  color: #fff;
  font-size: 30px;
}
#home #contact {
  background: #e47564;
  color: #fff;
}
#home #contact form {
  padding-bottom: 10px;
}
#home #contact label.common {
  display: block;
  text-transform: lowercase;
  line-height: 26px;
}
#home #contact .control {
  position: relative;
  margin-top: 10px;
}
#home #contact .control:last-child {
  margin-top: 10px;
}
#home #contact input[type="text"], #home #contact input[type="email"] {
  padding: 12px 6px;
  height: 34px;
  width: 100%;
}
#home #contact .select {
  position: relative;
  margin-top: 10px;
}
#home #contact .select label {
  display: block;
  text-transform: lowercase;
  line-height: 26px;
}
#home #contact .select select {
  padding: 8px 6px;
  font-size: 12px;
  height: 34px;
  width: 100%;
}
#home #contact textarea {
  padding: 6px 4px;
  min-height: 100px;
  width: 100%;
}
#home #contact input[type="submit"] {
  text-transform: lowercase;
  background: #e9548e;
  color: #fff;
  padding: 4px 6px;
  float: right;
}
#home #footer {
  display: block;
}

@media only screen and (min-width: 600px) {
  #home #news .top {
    margin-bottom: 10px;
  }
  #home #news .top > div {
    margin-bottom: 0;
    float: left;
    width: 50%;
  }
  #home #news .top > div:first-child {
    padding-right: 5px;
  }
  #home #news .top > div:last-child {
    padding-left: 5px;
  }
  #home #news .top > div:last-child .date {
    left: 5px;
  }
  #home #news .top > div .details {
    height: 76px;
  }
  #home #news .bottom > div .details h3 {
    font-size: 18px;
  }
  #home #news .bottom > div .details p {
    font-size: 16px;
  }
}
@media only screen and (min-width: 800px) {
  #home .lSSlideOuter .lSPager.lSpg > li a {
    width: 20px;
    height: 20px;
  }
}
#home .swiper-slide, #home .thumb, #home #news .top > div, #home #contact input[type="text"], #home #contact input[type="email"], #home #contact .select select, #home #contact textarea, #game-detail #featured, #game-detail #top .thumb, #game-detail #top .title, #game-detail #screenshots .swiper-slide, #game-detail #screenshots .item, #game-detail #statistics .top .social a, #game-detail #statistics .bottom > div .meter, #game-detail #statistics .bottom > div .meter .total, #game-detail #review .rating-control label, #game-detail #review form input[type="text"], #game-detail #review form textarea, #game-detail #review .captcha input, #game-detail #reviews .entry > div, #game-detail #related-games .swiper-slide, #game-detail #related-games .thumb, #news-detail .details .title > div, #game-listing .title, #game-listing .search-category, #game-listing .grid > .row .item, #game-listing .grid .thumb, #profile .thumb, #profile .details, #profile .grid > .row .item, #profile .grid .image, #reviews .entry > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#game-detail #nav-toggle, #game-detail #side-menu {
  display: none;
}
#game-detail #back {
  display: block;
  margin-top: 12px;
}
#game-detail #featured {
  max-width: 1024px;
}
#game-detail #top {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #e9548e;
}
#game-detail #top .thumb {
  float: left;
  width: 80px;
  height: 80px;
  padding: 6px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-clip: padding-box;
}
#game-detail #top .thumb img {
  -webkit-border-radius: 16px;
  border-radius: 16px;
  background-clip: padding-box;
}
#game-detail #top .title {
  float: left;
  text-transform: none;
  width: 66%;
  padding: 0;
  padding-left: 10px;
}
#game-detail #top .categories li {
  float: left;
}
#game-detail #top .categories li::after {
  content: ',\00a0';
}
#game-detail #top .categories li:last-child::after {
  content: '';
}
#game-detail #top .categories a {
  color: #e9548e;
}
#game-detail #buttons > div {
  height: 62px;
  margin-bottom: 2%;
}
#game-detail #buttons .downloads {
  background: #ff89b7 url(../images/downloads.png) -5px -8px no-repeat;
  position: relative;
  width: 100%;
  font-weight: bold;
}
#game-detail #buttons .downloads .count {
  display: block;
  float: left;
  padding-left: 50px;
  color: #fff;
  font-size: 20px;
}
#game-detail #buttons .downloads .words {
  float: left;
  padding: 4px 0 0 50px;
  color: #fff;
}
#game-detail #buttons .downloads .words span {
  display: block;
}
#game-detail #buttons .ratings {
  background: #ffdf00 url(../images/ratings.png) center -8px no-repeat;
  position: relative;
  width: 100%;
}
#game-detail #buttons .ratings .count {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  display: block;
}
#game-detail #buttons .ratings .stars {
  width: 120px;
  margin-top: 4px;
  text-align: center;
}
#game-detail #buttons .ratings .stars i {
  font-size: 14px;
  color: #fff;
}
#game-detail #buttons .ratings .stars i.active {
  color: #e9548e;
}
#game-detail #buttons .ratings .total {
  font-size: 14px;
  padding-left: 5px;
  clear: both;
}
#game-detail #buttons .buy {
  background: #64ac36;
  position: relative;
  display: block;
  height: 62px;
  text-align: center;
  color: #fff;
}
#game-detail #buttons .buy > div {
  padding-top: 8px;
  display: inline-block;
}
#game-detail #buttons .buy .image {
  text-align: left;
}
#game-detail #buttons .buy .image img {
  float: left;
  margin-right: 5px;
}
#game-detail #buttons .buy .image span {
  float: left;
  font-size: 18px;
  font-weight: bold;
  padding-top: 5px;
}
#game-detail #buttons .buy .price {
  text-align: left;
  padding-left: 43px;
  color: #fff;
  text-transform: none;
}
#game-detail #buttons .download {
  background: #e9548e url(../images/download2.png) center center no-repeat;
  position: relative;
  display: none;
  height: 62px;
  text-align: center;
  color: #fff;
}
#game-detail #buttons .download > div {
  padding-top: 16px;
  display: inline-block;
}
#game-detail #buttons .download p {
  text-align: left;
}
#game-detail #buttons .download p img {
  float: left;
  margin-right: 5px;
}
#game-detail #buttons .download p span {
  float: left;
  font-size: 18px;
  font-weight: bold;
  line-height: 29px;
}
#game-detail #description {
  text-transform: none;
  margin: 10px 0;
}
#game-detail #description p {
  margin: 10px 0;
}
#game-detail #description p:first-child {
  margin-top: 0;
}
#game-detail #description p:last-child {
  margin-bottom: 0;
}
#game-detail #screenshots {
  padding-bottom: 10px;
}
#game-detail #screenshots .swiper-slide {
  width: 140px;
  padding-right: 0;
  text-align: left;
  line-height: 1.3;
}
#game-detail #screenshots .item {
  padding: 0 2px;
}
#game-detail #statistics {
  background: #ebf1fe;
}
#game-detail #statistics .top .count {
  font-size: 32px;
  float: left;
  width: auto;
  padding-right: 10px;
  padding-top: 24px;
}
#game-detail #statistics .top .stars-container {
  float: left;
  padding-top: 20px;
}
#game-detail #statistics .top .stars {
  margin-top: 5px;
}
#game-detail #statistics .top .stars i {
  color: #fff;
}
#game-detail #statistics .top .stars i.active {
  color: #e9548e;
}
#game-detail #statistics .top .total {
  font-size: 14px;
}
#game-detail #statistics .top .social {
  float: right;
}
#game-detail #statistics .top .social a {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  display: block;
  width: 66px;
  float: left;
  text-align: center;
  margin-right: 5px;
  padding: 0 0 4px;
  margin-top: 10px;
}
#game-detail #statistics .top .social a span {
  display: block;
}
#game-detail #statistics .top .social a.share {
  margin-left: 5px;
  background: #e9548e;
}
#game-detail #statistics .top .social a.share img {
  padding-top: 7px;
}
#game-detail #statistics .top .social a.share span {
  padding-top: 4px;
  font-size: 18px;
  color: #fff;
}
#game-detail #statistics .top .social a.likes {
  background: transparent;
  margin-right: 0;
}
#game-detail #statistics .top .social a.likes span {
  padding-top: 5px;
  font-size: 12px;
  color: #0086dd;
}
#game-detail #statistics .top .social #game_like span {
  margin: auto;
  padding-top: 2px;
}
#game-detail #statistics .top .social div.likes {
  background: none;
}
#game-detail #statistics .bottom {
  padding: 10px 0;
  display: inline-block;
}
#game-detail #statistics .bottom > div .stars {
  float: left;
  width: 93px;
  text-align: right;
}
#game-detail #statistics .bottom > div .stars i {
  color: #555;
}
#game-detail #statistics .bottom > div .meter {
  float: left;
  height: 14px;
  position: relative;
  padding-left: 10px;
  width: 198px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
}
#game-detail #statistics .bottom > div .meter span {
  margin-top: 2px;
  float: left;
  height: 100%;
  max-width: 96px;
}
#game-detail #statistics .bottom > div .meter .total {
  float: left;
  padding-left: 10px;
  width: 20%;
  font-size: 14px;
  margin-top: 2px;
}
#game-detail #statistics .bottom .five span {
  background: #64ac36;
  width: 80%;
}
#game-detail #statistics .bottom .four span {
  background: #7fb52d;
  width: 60%;
}
#game-detail #statistics .bottom .three span {
  background: #b4c61a;
  width: 40%;
}
#game-detail #statistics .bottom .two span {
  background: #ffcd00;
  width: 20%;
}
#game-detail #statistics .bottom .one span {
  background: #ffae00;
  width: 10%;
}
#game-detail #review {
  margin: 10px 0;
  text-align: center;
}
#game-detail #review .rating-control {
  border: 1px solid #e9548e;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
}
#game-detail #review .rating-control label {
  padding: 5px 10px;
  background: #e9548e;
  color: #fff;
  float: left;
  width: 20%;
}
#game-detail #review .rating-control select {
  height: 29px;
  float: left;
  width: 80%;
}
#game-detail #review .form-success {
  margin-left: 0;
}
#game-detail #review .form-error {
  margin-left: 0;
}
#game-detail #review .button a {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
}
#game-detail #review > div a {
  display: inline-block;
}
#game-detail #review form {
  margin: 10px 0 0;
  display: inline-block;
  max-width: 320px;
}
#game-detail #review form input[type="text"], #game-detail #review form textarea {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  border: 1px solid #e9548e;
  padding: 5px 10px;
  width: 100%;
  margin: 5px 0;
}
#game-detail #review form input[type="submit"] {
  text-transform: lowercase;
  margin-top: 5px;
  background: #e9548e;
  color: #fff;
  padding: 4px 6px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
}
#game-detail #review .captcha img {
  width: 29%;
  height: 34px;
  float: left;
  margin-right: 1%;
}
#game-detail #review .captcha input {
  width: auto;
  display: block;
  float: left;
  margin: 0 !important;
  padding: 8px 6px !important;
  width: 70% !important;
}
#game-detail #review .captcha-correct, #game-detail #review .captcha-error {
  margin-left: 0;
}
#game-detail #reviews .entry {
  margin-bottom: 20px;
}
#game-detail #reviews .entry:last-child {
  margin-bottom: 0;
}
#game-detail #reviews .entry > div {
  text-transform: none;
  float: left;
  width: 80%;
  padding-left: 10px;
}
#game-detail #reviews .entry > div .name {
  font-weight: bold;
}
#game-detail #reviews .entry > div .message {
  padding-top: 10px;
  font-size: 14px;
}
#game-detail #reviews .entry > div i {
  color: #e9548e;
}
#game-detail #reviews .entry img {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  display: block;
  width: 60px;
  float: left;
}
#game-detail #related-games {
  background: #f4f4f4;
  border-bottom: 4px solid #e9548e;
}
#game-detail #related-games .swiper-slide {
  width: 110px;
  padding-right: 0;
  text-align: left;
  line-height: 1.3;
}
#game-detail #related-games .swiper-container {
  padding-bottom: 20px;
}
#game-detail #related-games .thumb {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-clip: padding-box;
  padding: 6px;
  background: rgba(0, 0, 0, 0.1);
  margin: 5px auto;
  width: 100px;
  height: 100px;
}
#game-detail #related-games .thumb img {
  -webkit-border-radius: 16px;
  border-radius: 16px;
  background-clip: padding-box;
}
#game-detail #related-games .meta {
  text-align: center;
  margin: 10px 0;
  height: 57px;
  text-transform: none;
}
#game-detail #related-games .meta p {
  font-size: 14px;
}
.fancybox-opened {
  z-index: 99999999;
}
.item .meta p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.fancybox-close {
  display: block;
}
@media only screen and (min-width: 320px) {
  #game-detail #buttons .downloads {
    float: left;
    width: 49%;
    margin-right: 1%;
  }
  #game-detail #buttons .ratings {
    float: left;
    width: 49%;
    margin-left: 1%;
  }
  #game-detail #buttons .buy, #game-detail #buttons .download {
    clear: both;
  }
}
@media only screen and (min-width: 480px) {
  #game-detail #top .thumb {
    width: 90px;
    height: 90px;
  }
  #game-detail #top .title {
    width: 79%;
  }
  #game-detail #top .title h3 {
    padding-bottom: 10px;
  }
  #game-detail #buttons .downloads {
    width: 138px;
    margin-bottom: 0;
  }
  #game-detail #buttons .ratings {
    width: 138px;
    margin-bottom: 0;
  }
  #game-detail #buttons .buy, #game-detail #buttons .download {
    float: right;
    clear: none;
    width: 138px;
    margin-bottom: 0;
  }
  #game-detail #statistics {
    background: #ebf1fe;
  }
  #game-detail #statistics .top .count {
    font-size: 40px;
    float: left;
    padding-top: 18px;
  }
}
@media only screen and (min-width: 600px) {
  #game-detail #featured {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  #game-detail #reviews .entry > div {
    width: 89%;
  }
}
@media only screen and (min-width: 800px) {
  #game-detail #back {
    margin-top: 15px;
  }
  #game-detail #featured {
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media only screen and (min-width: 1024px) {
  #game-detail #top {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #game-detail #description {
    margin: 20px 0;
  }
  #game-detail #description p {
    margin: 10px 0;
  }
  #game-detail #description p:first-child {
    margin-top: 0;
  }
  #game-detail #description p:last-child {
    margin-bottom: 0;
  }
  #game-detail #reviews .entry > div {
    width: 93%;
  }
}
#home .swiper-slide, #home .thumb, #home #news .top > div, #home #contact input[type="text"], #home #contact input[type="email"], #home #contact .select select, #home #contact textarea, #game-detail #featured, #game-detail #top .thumb, #game-detail #top .title, #game-detail #screenshots .swiper-slide, #game-detail #screenshots .item, #game-detail #statistics .top .social a, #game-detail #statistics .bottom > div .meter, #game-detail #statistics .bottom > div .meter .total, #game-detail #review .rating-control label, #game-detail #review form input[type="text"], #game-detail #review form textarea, #game-detail #review .captcha input, #game-detail #reviews .entry > div, #game-detail #related-games .swiper-slide, #game-detail #related-games .thumb, #news-detail .details .title > div, #game-listing .title, #game-listing .search-category, #game-listing .grid > .row .item, #game-listing .grid .thumb, #profile .thumb, #profile .details, #profile .grid > .row .item, #profile .grid .image, #reviews .entry > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#news-detail {
  background: #eecf40;
}
#news-detail #nav-toggle, #news-detail #side-menu {
  display: none;
}
#news-detail #back {
  display: block;
  margin-top: 10px;
}
#news-detail #featured {
  margin-top: 10px;
}
#news-detail #content {
  margin-bottom: 10px;
}
#news-detail .details {
  position: relative;
}
#news-detail .details .date {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
}
#news-detail .details .date > div {
  position: relative;
  width: 50px;
  height: 50px;
  background: #e9548e;
}
#news-detail .details .date p {
  color: #fff;
  text-align: center;
}
#news-detail .details .title {
  padding: 0;
  text-transform: none;
  position: relative;
  z-index: 1;
}
#news-detail .details .title > div {
  position: relative;
  height: 50px;
  background: #f3bf38;
  padding-left: 60px;
  padding-right: 10px;
}
#news-detail .details .title h2 {
  color: #fff;
  font-size: 16px;
}
#news-detail .description {
  padding: 10px 10px 0 10px;
  text-transform: none;
  background: #fff;
}
#news-detail .description p {
  margin: 10px 0;
}
#news-detail .description p:first-child {
  margin-top: 0;
}
#news-detail .description p:last-child {
  margin-bottom: 0;
}
#news-detail .social {
  background: #fff;
  padding: 10px 0;
}
#news-detail .social > div {
  float: right;
}
#news-detail .social a {
  display: block;
  float: left;
  text-align: center;
  padding: 6px 32px 6px 8px;
  margin-right: 10px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
}
#news-detail .social a.share {
  background: #e9548e url(../images/share2.png) 56px center no-repeat;
  color: #fff;
}
#news-detail .social a.like {
  background: #0086dd url(../images/like.png) 40px center no-repeat;
  color: #fff;
}

@media only screen and (min-width: 600px) {
  #news-detail #back {
    margin-top: 12px;
  }
}
@media only screen and (min-width: 800px) {
  #news-detail #back {
    margin-top: 15px;
  }
  #news-detail #featured {
    margin-top: 40px;
  }
}
#home .swiper-slide, #home .thumb, #home #news .top > div, #home #contact input[type="text"], #home #contact input[type="email"], #home #contact .select select, #home #contact textarea, #game-detail #featured, #game-detail #top .thumb, #game-detail #top .title, #game-detail #screenshots .swiper-slide, #game-detail #screenshots .item, #game-detail #statistics .top .social a, #game-detail #statistics .bottom > div .meter, #game-detail #statistics .bottom > div .meter .total, #game-detail #review .rating-control label, #game-detail #review form input[type="text"], #game-detail #review form textarea, #game-detail #review .captcha input, #game-detail #reviews .entry > div, #game-detail #related-games .swiper-slide, #game-detail #related-games .thumb, #news-detail .details .title > div, #game-listing .title, #game-listing .search-category, #game-listing .grid > .row .item, #game-listing .grid .thumb, #profile .thumb, #profile .details, #profile .grid > .row .item, #profile .grid .image, #reviews .entry > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#game-listing {
  background: #61ded0;
  color: #fff;
}
#game-listing #nav-toggle, #game-listing #side-menu {
  display: none;
}
#game-listing #back {
  display: block;
  margin-top: 12px;
}
#game-listing .title {
  padding: 20px 0 15px;
}
#game-listing .search-category {
  padding: 0 0 20px;
}
#game-listing .search-category input {
  padding: 6px;
  margin-right: 5px;
  width: 92%;
}
#game-listing .grid > .row .item {
  width: 33.3333333%;
  float: left;
  padding: 0 5px;
  padding-bottom: 30px;
  position: relative;
}
#game-listing .grid .thumb {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-clip: padding-box;
  padding: 6px;
  background: rgba(0, 0, 0, 0.1);
  margin: 0;
}
#game-listing .grid .thumb img {
  -webkit-border-radius: 16px;
  border-radius: 16px;
  background-clip: padding-box;
}
#game-listing .grid .thumb .free {
  left: -5px;
}
#game-listing .grid .meta {
  margin: 10px 0 0;
  font-size: 14px;
  height: 38px;
  text-align: center;
  text-transform: none;
}
#game-listing .grid .button {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

#news-listing, #category-listing {
  background: #eecf3f;
  color: #fff;
}
#news-listing #nav-toggle, #news-listing #side-menu, #category-listing #side-menu{
  display: none;
}
#news-listing #back {
  display: block;
  margin-top: 12px;
}
#news-listing .item {
  position: relative;
  margin-bottom: 10px;
}
#news-listing .item .date {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 80px;
  z-index: 8;
  text-transform: lowercase;
}
#news-listing .item .date > div {
  background: #e9548e;
  color: #fff;
  height: 100%;
  text-align: center;
}
#news-listing .item .details {
  text-transform: none;
  height: 80px;
}
#news-listing .item .details > div {
  position: relative;
  background: #f2bf38;
  padding: 0;
  height: 100%;
}
#news-listing .item .details > div > div {
  padding-left: 62px;
  padding-right: 26px;
}
#news-listing .item .details h3 {
  font-size: 14px;
}
#news-listing .item .details p {
  font-size: 14px;
}
#news-listing .item .readmore {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 80px;
  z-index: 7;
}
#news-listing .item .readmore > a {
  position: relative;
  height: 100%;
  display: block;
  background: #e9548e;
}
#news-listing .item .readmore > a i {
  color: #fff;
  font-size: 22px;
}

@media only screen and (min-width: 415px) {
  #game-listing .search-category input {
    width: 93%;
  }
  #game-listing .search-category a {
    width: 6%;
  }
  #game-listing .grid > .row .item {
    width: 25%;
  }
/*   #scroll {
    height: 420px;
    overflow: hidden;
  }*/
}
@media only screen and (min-width: 600px) {
  #game-listing .title {
    float: left;
    padding: 20px 0 15px;
    width: 54%;
  }
  #game-listing .search-category {
    float: right;
    width: 46%;
    margin-top: 20px;
  }
  #game-listing .search-category input {
    float: left;
    width: 91%;
  }
  #game-listing .search-category a {
    float: right;
    width: 6%;
    margin-top: 8px;
  }

  #news-listing .item .details h3 {
    font-size: 18px;
  }
  #news-listing .item .details p {
    font-size: 16px;
  }
}
@media only screen and (min-width: 640px) {
  #game-listing .grid > .row .item {
    width: 20%;
  }
}
@media only screen and (min-width: 800px) {
  #game-listing #back {
    margin-top: 15px;
  }
  #game-listing .search-category input {
    width: 91%;
  }
  #game-listing .search-category a {
    width: 6%;
  }

  #news-listing #back {
    margin-top: 15px;
  }
}
@media only screen and (min-width: 1024px) {
  #game-listing .search-category input {
    width: 94%;
  }
  #game-listing .search-category a {
    width: 4%;
  }
}
#home .swiper-slide, #home .thumb, #home #news .top > div, #home #contact input[type="text"], #home #contact input[type="email"], #home #contact .select select, #home #contact textarea, #game-detail #featured, #game-detail #top .thumb, #game-detail #top .title, #game-detail #screenshots .swiper-slide, #game-detail #screenshots .item, #game-detail #statistics .top .social a, #game-detail #statistics .bottom > div .meter, #game-detail #statistics .bottom > div .meter .total, #game-detail #review .rating-control label, #game-detail #review form input[type="text"], #game-detail #review form textarea, #game-detail #review .captcha input, #game-detail #reviews .entry > div, #game-detail #related-games .swiper-slide, #game-detail #related-games .thumb, #news-detail .details .title > div, #game-listing .title, #game-listing .search-category, #game-listing .grid > .row .item, #game-listing .grid .thumb, #profile .thumb, #profile .details, #profile .grid > .row .item, #profile .grid .image, #reviews .entry > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#profile #nav-toggle, #profile #side-menu {
  display: none;
}
#profile #back {
  display: block;
  margin-top: 10px;
}
#profile .thumb {
  margin: 10px 0;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  padding: 8px;
  background: rgba(0, 0, 0, 0.1);
  width: 124px;
  height: 124px;
  position: absolute;
  left: 0;
  top: 0;
}
#profile .thumb img {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
}
#profile .details {
  margin: 10px 0;
  text-transform: none;
  padding-left: 136px;
  padding-top: 35px;
  width: 100%;
}
#profile .details > div {
  margin-bottom: 10px;
}
#profile .details .change_password a {
  color: #e9548e;
}
#profile .grid > .row .item {
  width: 33.3333333%;
  float: left;
  padding: 0 5px;
  padding-bottom: 40px;
  margin-bottom: 20px;
  position: relative;
}
#profile .grid .image {
  -webkit-border-radius: 16px;
  border-radius: 16px;
  background-clip: padding-box;
  padding: 6px;
  background: rgba(0, 0, 0, 0.1);
  margin: 0 5px;
}
#profile .grid .image img {
  -webkit-border-radius: 16px;
  border-radius: 16px;
  background-clip: padding-box;
}
#profile .grid .meta {
  margin: 10px 0 0;
  font-size: 14px;
  height: 38px;
  text-align: center;
  text-transform: none;
}
#profile .grid .button {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
#profile #downloads {
  margin-top: 36px;
  background: #f4f4f4;
}

@media only screen and (min-width: 415px) {
  #profile .grid > .row .item {
    width: 25%;
  }
}
@media only screen and (min-width: 600px) {
  #profile #back {
    margin-top: 12px;
  }
  #profile #downloads {
    margin-top: 42px;
  }
}
@media only screen and (min-width: 640px) {
  #profile .grid > .row .item {
    width: 20%;
  }
}
@media only screen and (min-width: 800px) {
  #profile #back {
    margin-top: 15px;
  }
  #profile .grid .image {
    -webkit-border-radius: 22px;
    border-radius: 22px;
    background-clip: padding-box;
    padding: 10px;
  }
  #profile .grid .image img {
    -webkit-border-radius: 22px;
    border-radius: 22px;
    background-clip: padding-box;
  }
}
#home .swiper-slide, #home .thumb, #home #news .top > div, #home #contact input[type="text"], #home #contact input[type="email"], #home #contact .select select, #home #contact textarea, #game-detail #featured, #game-detail #top .thumb, #game-detail #top .title, #game-detail #screenshots .swiper-slide, #game-detail #screenshots .item, #game-detail #statistics .top .social a, #game-detail #statistics .bottom > div .meter, #game-detail #statistics .bottom > div .meter .total, #game-detail #review .rating-control label, #game-detail #review form input[type="text"], #game-detail #review form textarea, #game-detail #review .captcha input, #game-detail #reviews .entry > div, #game-detail #related-games .swiper-slide, #game-detail #related-games .thumb, #news-detail .details .title > div, #game-listing .title, #game-listing .search-category, #game-listing .grid > .row .item, #game-listing .grid .thumb, #profile .thumb, #profile .details, #profile .grid > .row .item, #profile .grid .image, #reviews .entry > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#reviews #nav-toggle, #reviews #side-menu {
  display: none;
}
#reviews #back {
  display: block;
  margin-top: 10px;
}
#reviews .entry {
  margin-bottom: 20px;
}
#reviews .entry > div {
  text-transform: none;
  float: left;
  width: 80%;
  padding-left: 10px;
}
#reviews .entry > div .name {
  font-weight: bold;
}
#reviews .entry > div .message {
  padding-top: 10px;
}
#reviews .entry > div i {
  color: #e9548e;
}
#reviews .entry img {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  display: block;
  width: 60px;
  float: left;
}

@media only screen and (min-width: 600px) {
  #reviews #back {
    margin-top: 12px;
  }
  #reviews .entry > div {
    width: 89%;
  }
}
@media only screen and (min-width: 800px) {
  #reviews #back {
    margin-top: 15px;
  }
}
@media only screen and (min-width: 1024px) {
  #reviews #back {
    margin-top: 15px;
  }
  #reviews .entry > div {
    width: 93%;
  }
}

#categories-list li {
  margin: 10px;
}

#categories-list li a {
  font-size: 20px;
}

#categories-container {
  padding: 20px;
}

#scroll {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 0;
  z-index: 50;
  left: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  padding-top: 60px;
}
.fleft {
  float: left;
}
#latest-games .swiper-wrapper {
  height: 190px !important;
}
#home .game-category:nth-child(even) .thumb {
  background: #61ded0;
}
#home .game-category:nth-child(even) .meta p {
  color: black;
}
.game-button {
  text-align: center;
}
.game-button a {
  background: #e9548e;
  padding: 0 5px 5px;
  color: white;
}
a.game-free {
  position: relative;
  bottom: -18px;
}
#game-category {
  float: right;
  margin: 15px 0;
}
